<?xml version="1.0" encoding="UTF-8"?>
<configuration scanPeriod="30 seconds">
    <include resource="logconf/base.xml" />
    <logger name="org.springframework.web" level="INFO"/>

    <springProfile name="dev">
        <logger name="com.nxh" level="DEBUG"/>
    </springProfile>

    <springProfile name="pro">
        <logger name="com.nxh" level="INFO" additivity="false">
        	<appender-ref ref="CONSOLE" />
			<appender-ref ref="FILE" />
        </logger>
    </springProfile>

</configuration>